.cuadrado{
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding-left: 15%;
    text-align: center;
}
.ucscbottom{
    width: 300px;
    height: 100px;
    display: flex;
    filter: grayscale(1);
}
.footer{
    background-color: white;
}
.campus{
    padding-right: 7%;
}
