*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

body{
    background-color: lightgray;
}
/* Dispositivos moviles */
/* Barra navegacion */
.nav{
    z-index: 2;
    position: fixed;
    left: 0;
    height: 100%;
    width: 210px;
    background-color:white;
    color: black;
  }
  
.nav-brand{
    display: inline-block;
    position: relative;
    padding: 5px;
    padding-bottom: 20px;
    width: 700px;
}
  
.nav-brand img{
    width: 200px;
}
  
.nav-links{
    padding: 0;
    margin-top: 0;
    margin-left: 20px;
    list-style-type: none;
    width: 200px;
}
  
.nav-links li{
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 150ms ease-in-out;
    padding-top: 15px;
    float: left;
}
  
.nav-links li:hover{
    opacity: 1;
}

.nav-menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-menu-ul li {
    float: left;
}
.nav-menu-li a{
    display: block;
    color:black;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
.editor{
    background-color: white;
    box-shadow: 2px 2px 2px 2px black;
    margin-left: 30%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
}
/* index */
.cuenta{
    height: 20px;
    width: 100px;
}       
 
.boton_ingresar{
    height: 20px;
    width: 100%;
    border-radius: 20px;
    border: 0;
    background-color: red;
    color: white;
    cursor: pointer;
}
.boton_cancelar{
    height: 20px;
    width: 80px;
    border-radius: 20px;
    border: 0;
    background-color: red;
    color: white;
    cursor: pointer;
}

.boton_ingresar:hover{
    background-color: white;
    color: black
}
.boton_cancelar:hover{
    background-color: white;
    color: black
}

.tabla-datos{
    margin-left: 210px;
    padding: 10px;
    text-align: center;
}

.aforo-permitido{
    margin-left: 210px;
    padding: 10px;
}

/* Login */
.body-login{
    padding: 200px  30% 30% 30%;
}

.contenedor-login{
    background-color: white;
    text-align: center;
}
.perfil{
    background-color: white;
    text-align: center;
    padding: 10px  10% 10% 10%;
    margin-left: 35%;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 2px black;
}
a{
    text-decoration: none;
    color: black;
}

.boton-menu:hover{
    background-color: rgba(0,0,0,0.1);
}

#map {
    height: 300px;
    width: 400px;
  }

.mapa{
    margin-left: 200px;
    float: right;
    height: 700px!important;
    width: 50%!important;
}

.opciones-mapa{
    margin-left: 50px;
}

div.opciones-mapa{
    width: 200px;
    height: 700px;
    overflow: auto;
}
.opciones-mapa-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.opciones-mapa-ul li{
    padding-top: 20px;
    cursor: pointer;
}
/* Escritorio */
@media screen and (min-width: 768px){
    /* Barra navegacion */
    .nav{
        top: 0;
        height: 80px;
        width: 100%;
    }

    .nav-brand{
        display: inline-block;
        position: relative;
        padding: 5px;
        padding-bottom: 0;
    }

    .nav-links{
        position: absolute;
        padding: 0;
        top: 30px;
        right: 0;
    }

    .nav-links li{
        display: inline-block;
        margin-right: 10px;
        padding: 0;
    }
    /* Contenedor general */
    .contenedor{
        margin-top: 100px;
        width: 100%;
        display: inline-flex;
    }
    /* Tabla de datos */
    td {
        text-align: center;
    }

    .btn{
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }

    .tabla-datos{
        width: 75%;
        margin: 0 auto;
        padding-right: 4%;
    }

    .aforo-permitido{
        text-align: center;
        width: 200px;
        padding-left: 40%;
        padding-right: 40%;
        margin-left: 0;
    }
    

    .añadir-edificio input{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .grafico{
        display: block;
        width: 75%;
        margin: 0 auto;    
        margin-bottom: 40px;
    }
}